<ion-view view-title="Partie">
    <ion-content class="padding">
        
        <form ng-submit="form_deals()">
            <button class="button button-block ion-arrow-right-a icon-right button-positive">
                Nouvelle donne
            </button>
        </form>
        <div class="row">
            <div class="col">
                Action
            </div>
            <div class="col" ng-repeat="field in players track by $index">
                {{field}}
            </div>
        </div>
        <div class="row" ng-repeat="deal in deals track by $index">
            <div class="col">
                <button class="button button-small icon ion-trash-b" ng-click="removeRow($index)">

                </button>
                <button class="button button-small icon ion-compose" ng-click="editRow($index)">

                </button>
            </div>
            <div class="col" ng-repeat="field in players track by $index">
                {{deal.score[$index].score}} <i class="icon ion-star" ng-show="{{deal.score[$index].dealer}}"></i>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                Score <i class="button button-small icon ion-loop" ng-click="compute_totals()"></i>
            </div>
            <div class="col" ng-repeat="field in players track by $index">
                {{totals[$index]}}
            </div>

        </div>

        <div class="item">
            <pre ng-bind="data | json"></pre>
        </div>

    </ion-content>
</ion-view>