<ion-view view-title="Home">
    <ion-content class="padding">
    {{$storage}}
        <form ng-submit="">
            <button class="button button-block button-positive icon-right ion-ios-game-controller-b" ng-click="set_party()">
                Commencer une partie
            </button>
        </form>
        <div class="bar bar-stable">
            <div class="buttons">
                <button class="button button-icon icon ion-ios-minus-outline"
                ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
            </div>
            <h2 class="title">Parties Sauvegardées</h2>
            <div class="buttons">
                <button class="button" ng-click="refresh()">
                    Rafraîchir
                </button>
                <button class="button" ng-click="data.showDelete = false; data.showReorder = !data.showReorder">
                    Trier
                </button>
            </div>
        </div>
        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
<ion-item></ion-item>
            <ion-item ng-repeat="party in parties track by $index"
            item="party"
            href="" class="item-remove-animate" ng-click="show(party, $index)">
                {{ party.date }}
                <ion-delete-button class="ion-minus-circled"
                ng-click="onItemDelete(party, $index)"></ion-delete-button>
                <ion-option-button class="button-assertive"
                ng-click="edit(party)">
                    Edit
                </ion-option-button>
                <ion-option-button class="button-calm"
                ng-click="share(party)">
                    Share
                </ion-option-button>
                <ion-reorder-button class="ion-navicon" on-reorder="moveItem(party, $fromIndex, $toIndex)"></ion-reorder-button>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>